.header{
    background-color: lightgrey;
    padding: 20px;
    color: black;
    font-weight: bold;
}

.header a:hover {
    background-color: #6c757d;
    padding: 20px;
}
.card {
    background-color: rgba(180, 190, 229, 0.8);
    backdrop-filter: blur(5px);
    text-align: left;
}

body {
    background-image: url("/images/img.png");
    background-size: 100vw auto;
    background-attachment: fixed;
    background-position: center;

}

.card-center-400-200 {
    position: fixed;
    width: 400px;
    left: calc(50vw - 200px);
    top: calc(50vh - 120px);
}

.card-center-500-400 {
    position: fixed;
    width: 500px;
    left: calc(50vw - 250px);
    top: calc(50vh - 200px);
}

.form-control {
    background-color: rgba(255, 255, 255, .60);
}

.table, th, td {
    background-color: rgba(229, 252, 253, 0.56);
    border-collapse: collapse;
    width: 100%;
}